body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    font-size: 2.0em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: left;
}


img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img:hover {
    transform: scale(1.3);
}


div {
    background-color:transparent;
    border: transparent;
    border-radius: 10px;
    padding: 20px;

}

div ul {
    margin: 0;
}

div img {
    display: block;
    margin: 0 auto;
}

@media (max-width: 600px) {
    div {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.item-container {
    border: 2px solid transparent; 
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    width: 70%;
    min-height: 70vh; 
    height: auto; 
    box-sizing: border-box;
    text-align: center;
}


.button1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px; 
}

.button1 {
    display: inline-block;
    width: 100px; 
    height: 20px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #90eebf;
    color: black;
    border: 1px solid #90eebf;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    line-height: 20px;
}

.button1:hover {
    background-color: #90ef90;
    border-color: #90ef90;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}