body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

/* Form Container */
.form-container {
    background-color: #ffff;
    max-width: 600px;
    margin: 100px auto 20px; /* Adjust margin to provide space for the fixed nav */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="file"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 4px;
    border: 1.25px solid black;
    box-sizing: border-box;
    background-color: #90eebf;
}

textarea {
    resize: vertical;
    height: 100px;
}

.button-container {
    text-align: center;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #90eebf;
    color:black;
    border-radius: 4px;
    border:1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #90ef90;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .nav-wrapper {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .nav-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-mobile {
        flex-direction: column;
        gap: 10px;
    }
}

