/* styles.css */
/* 
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #e7f0d6;
  padding: 10px;
  text-align: center;
  display: flex; 
  justify-content: flex-end; 
}

nav a {
  color: rgb(25, 139, 220);
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
} */
