{% comment %} {% extends "base_generic.html" %} {% endcomment %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/CSS/signuplogin.css' %}">
  <div class="form-container">
    <form method="post" class="signup-form">
    <h1>Sign Up</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-container">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    <div class="operation-container">
      <p class="member-operation">Already a member? <a href="{% url 'login' %}">Login</a></p>
    </div>
    <div class="home-link">
      <a href="{% url 'home' %}">HOME</a>
    </div>
    <img src="{% static 'users/images/c.jpg' %}" alt="Image C">
    </form>
  </div>
{% endblock %}